.wrapper {
  height: calc(100vh - 120px);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(10000px);
  transition: all 1s;
  background-color: #fff;
  z-index: 100;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.isOpen {
  transform: translateY(0);
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 17px;
  border-bottom: 1px solid #D9D9D9;
}

.orderHeader span {
  font-size: 20px;
}

.orderHeader button {
  background-color: transparent;
}

.leftBtn {
  padding: 0;
}

.leftBtn svg {
  width: 30px;
  height: 30px;
}

.card {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
}

.cardDescr {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.price {
  align-self: center;
  font-size: 24px;
  font-weight: 400;
}

.cardLeft {
  display: flex;
}

.cardLeft svg {
  margin-right: 12px;
}

.cardDescrTitle {
  font-size: 18px;
  font-weight: 400;
}

.cardDescrAmount {
  font-size: 16px;
  color: #ACACAC;
}

.cardDescrOptions {
  font-size: 12px;
  color: #626262;
  line-height: 20px;
}

.card {
  border-bottom: 1px solid #D9D9D9;
}

.bottom {
  padding: 16px 16px 40px;
  border-top: 1px solid #D9D9D9;
}

.addCardBtn {
  padding: 15px 18px;
  background-color: #FFD540;
  color: #000;
  font-size: 18px;
}

.addCardBtn svg {
  margin-right: 12px;
}

.commonPriceWrapper {
  display: flex;
  flex-direction: column;
}

.bottomTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.commonPrice {
  font-size: 24px;
}

.payBtn {
  font-size: 22px;
  justify-content: center;
  width: 100%;
  background-color: #727272;
}