.header {
  max-width: 100%;
  position: fixed;
  top: 0;
  padding: 32px 16px 0;
  margin-bottom: 6px;
  z-index: 100;
}

.headerTopAuth {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.headerTop {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.headerButton {
  font-weight: 500;
  font-size: 20px;
}

.headerButton svg {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.navigation {
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
}

.navigation::-webkit-scrollbar {
  display: none;
}

.navButton {
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 20px;
}

.navButton:not(:last-child) {
  margin-right: 12px;
}

.navLink:not(:last-child) {
  display: block;
  margin-right: 12px;
}

.repeatBtn {
  font-size: 16px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
}