.menuList {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

.menuItem {
  padding: 12px 16px;
  width: 156px;
  background-color: rgba(0, 0, 0, 0.29);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  text-align: start;
  color: #fff;
}

.menuItemTitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 24px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
