.cardWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 20px 16px 0;
}

.img {
  margin-bottom: 10px;
  height: 350px;
}

.title {
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 400;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.buttons {
  padding-top: 18px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.optionButton {
  background-color: #F0F0F0;
  justify-content: center;
  width: 45%;
  color: #000;
  font-size: 18px;
}

.orderButton {
  background-color: #FFD540;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.bottom {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.header svg {
  width: 30px;
  height: 30px;
}

.optionMenu {
  position: fixed;
  padding: 10px 16px 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(80, 77, 77, 0.68);
  backdrop-filter: blur(6px);
  height: 0;
  transition: all .75s;
  border-radius: 10px 10px 0 0;
}

.menuShowed {
  height: 245px;
}