@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 100px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.priceButton {
  color: #000;
  background-color: rgba(255, 255, 255, 0.87);
  padding: 10px 25px 10px 42px;
  background-image: url('./assets/img/priceIcon.svg');
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: center;
  font-size: 18px;
}
